html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: "Quicksand-Regular";
    font-size: 16px;
    font-weight: 400;
    color: $text;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

