@import "vars";
@import "global";
@import "fonts";

// start header

.header__top {
  background-color: #eef1f3;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;

  &-logo {
    padding-left: 10px;
  }

  &-seller {
    margin-left: auto;
    margin-right: 50px;
    padding: 10px 18px;
    background-color: $button;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: none;

    a {
      color: #fff;
      font-size: 14px;
    }
  }

  &-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.header__notification {
  min-width: 100px;
  position: relative;

  &-alarm::before {
    position: absolute;
    font-family: 'Linearicons-Free';
    content: '\e858';
    font-size: 20px;
    top: -2px;
    right: 80px;
  }

  &-mail::before {
    position: absolute;
    font-family: 'Linearicons-Free';
    content: '\e818';
    font-size: 20px;
    top: -4px;
    right: 30px;
  }
}

.header__cart {
  min-width: 70px;
  position: relative;

  &-icon::before {
    position: absolute;
    font-family: 'Linearicons-Free';
    content: '\e82e';
    top: -2px;
    right: 46px;
    font-size: 20px;
  }
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;

  &-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    a {
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
    }
  }

  &-info {
    font-weight: 700;

    a {
      color: $header;
    }

    span {
      display: block;
      color: $button;
    }
  }
}

.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.menu {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      font-family: "Quicksand";
      font-weight: 700;
      text-transform: uppercase;
      color: $header;

      &+li {
        padding-left: 28px;
      }
    }
  }
}

.header__search {
  min-width: 360px;

  &-form {
    position: relative;

    input {
      display: block;
      width: 100%;
      padding-left: 25px;
      padding-right: 70px;
      border-radius: 25px;
      height: 46px;
      border: 1px solid #d9dfe5;
      font-size: 15px;
      

      &::placeholder {
        color: #898f96;
      
      }

      &:focus {
        outline: none;
      }
    }

    button {
      position: absolute;
      width: 70px;
      height: 46px;
      border-radius: 25px;
      border: none;
      background-color: $button;
      right: 0px;
      top: 0px;
      cursor: pointer;

      &::before {
        position: absolute;
        font-family: 'Linearicons-Free';
        font-size: 16px;
        color: #fff;
        content: '\e86f';
        top: 14px;
        right: 24px;
      }
    }
  }
}

// section create

.create {
  background-color: #2b4dd0;
  position: relative;

  &__searchfield {
    position: absolute;
    right: 15px;
    left: 15px;
    height: 161px;
    bottom: -67px;
  }
}

.create__inner {
  min-height: 725px;
  width: 100%;
  padding: 170px 0px 235px;
  color: #f3f3f8;

  &-title {
    text-align: center;
    font-size: 60px;

    span {
      display: block;
      font-weight: 700;
    }
  }

  &-text {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
}

.create__inner-btn {
  text-align: center;
  margin-top: 60px;

  button {
    padding: 18px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    &+button {
      margin-left: 25px;
    }

    &.mixitup-control-active {
      background-color: #fff;
      color: #177ded;
      outline: none;
    }
  }
}

.searchfield__inner {
  position: relative;
  width: 100%;

  &-back,
  &-middle,
  &-front {
    position: absolute;
    min-height: 135px;
    border: none;
    border-radius: 5px;
  }

  &-back {
    top: 0;
    left: 30px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &-middle {
    top: 13px;
    left: 15px;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &-front {
    top: 26px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    padding: 40px 40px;
  }

  &-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
      padding: 17px 190px 17px 30px;
      outline: none;
      border: 1px solid #dcdcdc;
      border-radius: 3px;

    }

    .select {
      &::before {
        position: absolute;
        font-family: 'Linearicons-Free';
        font-size: 16px;
        content: '\e874';
        top: 20px;
        right: 270px;
      }
    }

    select {
      position: absolute;
      min-width: 190px;
      height: 100%;
      padding: 0px 20px;
      top: 0;
      right: 250px;
      border: none;
      border-left: 1px solid #dcdcdc;
      background-color: transparent;
      outline: none;
      appearance: none;
    }

    button {
      min-width: 220px;
      background-color: $button;
      border: none;
      border-radius: 3px;
      padding: 17px 60px;
      margin-left: 30px;
      margin-right: 0px;
      color: #fff;
    }
  }
}

.features__inner {
  padding: 185px 0px 120px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-item {
    padding: 195px 40px 50px;
    background-position: center 40px;
    background-repeat: no-repeat;
    background-size: 112px;

    &:hover {
      background-color: #fff;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &:nth-child(1) {
      background-image: url(../images/icons/feature-icon1.png);
    }

    &:nth-child(2) {
      background-image: url(../images/icons/feature-icon1.png);
    }

    &:nth-child(3) {
      background-image: url(../images/icons/feature-icon3.png);
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }
  &-text{
    text-align: center;
  }
}